<html>
  <head>
    <title>Property Price Predict</title>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap" rel="stylesheet">
    <style>
		label {
		  display: block;
		}
       body {
        font-family: 'Heebo Light', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="login">
        <h1>Property Price Predict</h1>
        <h2>Enter the property data: </h2>
	<p>איפה שכתוב האם יש או אין (לדוגמא מעלית) להכניס 0/1</p>
	<p>התאם את העיר שלך לפי הסיווג שמוצע פה- כלומר אם אתה גר בפתח תקווה סמן 1 במרכז ובכל השאר אפס או לדוגמא אם אתה גר באזור יקר בתל אביב סמן אזור יקר וכל השאר אפס </p>
	<p> בעמודת הסוג ['אחר'=0,"דופלקס"=1,"דירת גן"=2,"דירת גג"=3,"דירה"=4,"פנטהאוז"=5,"קוטג"=6,"דו משפחתי"=7,"בית פרטי"=8] </p>
	<p>בריהוט סמן: ['לא צויין'=0, 'אין'=1, 'חלקי'=2, 'מלא'=3]</p>
	<p>בעמודת תאריך כניסה: ['flexible'=4, "less_than_6 months"=3, 'months_6_12'=2, 'above_year'=1,'not_defined'=0]</p>
		<p>בעמודת מצב נכס: ['לא צויין'=0, 'ישן'=1, 'שמור'=2, 'משופץ'=3, 'חדש'=4]</p>
	<p>בעמודת יחס קומות-חלק את מספר הקומה במספר הקומות בבניין</p>


        <form id="measurement-form"action="{{ url_for('predict')}}"method="post">
			<label for="room_number">room_number:</label>
			<input type="text" id="room_number" name="feature"><br><br>
			<label for="Area">Area:</label>
			<input type="text" id="Area" name="feature"><br><br>
			<label for="type">type:</label>
			<input type="text" id="type" name="feature"><br><br>
			<label for="hasElevator">hasElevator:</label>
			<input type="text" id="hasElevator" name="feature"><br><br>
			<label for="hasParking">hasParking:</label>
			<input type="text" id="hasParking" name="feature"><br><br>
			<label for="hasBars">hasBars:</label>
			<input type="text" id="hasBars" name="feature"><br><br>
			<label for="hasStorage">hasStorage:</label>
			<input type="text" id="hasStorage" name="feature"><br><br>
			<label for="hasAirCondition">hasAirCondition:</label>
			<input type="text" id="hasAirCondition" name="feature"><br><br>
			<label for="hasBalcony">hasBalcony:</label>
			<input type="text" id="hasBalcony" name="feature"><br><br>
			<label for="hasMamad">hasMamad:</label>
			<input type="text" id="hasMamad" name="feature"><br><br>
			<label for="handicapFriendly">handicapFriendly:</label>
			<input type="text" id="handicapFriendly" name="feature"><br><br>
			<label for="floor_ratio">floor_ratio:</label>
			<input type="text" id="floor_ratio" name="feature"><br><br>
			<label for="furniture">furniture:</label>
			<input type="text" id="furniture" name="feature"><br><br>
			<label for="entranceDate">entranceDate:</label>
			<input type="text" id="entranceDate" name="feature"><br><br>
			<label for="codition">codition:</label>
			<input type="text" id="codition" name="feature"><br><br>
			<label for="City_Combined_דרום">City_Combined_דרום:</label>
			<input type="text" id="City_Combined_דרום" name="feature"><br><br>
			<label for="City_Combined_מרכז">City_Combined_מרכז:</label>
			<input type="text" id="City_Combined_מרכז" name="feature"><br><br>
			<label for="City_Combined_צפון">City_Combined_צפון:</label>
			<input type="text" id="City_Combined_צפון" name="feature"><br><br>
			<label for="City_Combined_תל אביב-זול">City_Combined_תל אביב-זול:</label>
			<input type="text" id="City_Combined_תל אביב-זול" name="feature"><br><br>
			<label for="City_Combined_תל אביב-יקר">City_Combined_תל אביב-יקר:</label>
			<input type="text" id="City_Combined_תל אביב-יקר" name="feature"><br><br>
			<button type="submit" class="btn btn-primary px-5" ">calculate price</button>	
		</form>
        <h3>{{ prediction_text }}</h3>
    </div>
  </body>
</html>